{% set navigation = collections.all | eleventyNavigation %}
{% set navClass = "top-nav" %}
{% if hideNav %}
{% set navClass = navClass + " top-nav--hidden" %}
{% endif %}
<header class="{{ navClass }}" data-site-nav>
    <nav class="nav-main">
        <ul class="nav-list">
            {% for link in navigation %}
            <li><a href="{{ link.url | url }}" class="link">{{ link.title }}</a></li>
            {% endfor %}
            {% if env.isDev %}
            <li><a class="link kanri-link" href="/kanri/">Kanri</a></li>
            {% endif %}
        </ul>
    </nav>
</header>