{% set navigation = collections.all | eleventyNavigation %}
{% set navClass = "top-nav" %}
{% if hideNav %}
{% set navClass = navClass + " top-nav--hidden" %}
{% endif %}
<header class="{{ navClass }}" data-site-nav>
    <nav class="nav-main">
        <ul class="nav-list">
            {% for link in navigation %}
                {% if link.key == "Home" %}
                    <li><a href="{{ link.url | url }}" class="link">HOME</a></li>
                {% elseif link.key == "Gallery" %}
                    <li><a href="{{ link.url | url }}" class="link">GALLERY</a></li>
                {% elseif link.key == "Spark" %}
                    <li><a href="{{ link.url | url }}" class="link">SPARK</a></li>
                {% elseif link.key == "Jelaludo" %}
                    <li><a href="{{ link.url | url }}" class="link">JELALUDO</a></li>
                {% endif %}
            {% endfor %}
            {% if env.isDev %}
            <li><a class="link kanri-link" href="/kanri/">KANRI</a></li>
            {% endif %}
        </ul>
    </nav>
</header>