@use "../vars/" as *;

.about-page {
    min-height: 100vh; 
    display: flex; 
    flex-direction: column;
}

.about-v {
    margin-top: auto;
}

.about-me-content {
    .about-socials {
        padding-left: 30px;
    }
}

.about-socials {
    li {
        margin: .75rem auto;
        list-style: disc;
    }
}

.about-me-content {
    max-width: 80ch;
    margin: 3rem auto;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.contact-form {
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    max-width: 60ch;
    color: #e0e0e0;

    label {
        &.form-label {
            margin-top: .5rem;
        }
    }

    input, textarea {
        margin: .2rem 0;
        border: 1px solid #444444;
        padding: .5rem;
        border-radius: .15rem;
        font-size: 16px;
        -webkit-appearance: none;
        background: #1a1a1a;
        color: #e0e0e0;

        &:focus {
            outline: none;
            border-color: #888888;
        }
    }

    input {
        height: 2.75rem;
    }

    textarea {
        resize: vertical;
        min-height: 9rem;
    }

    button {
        margin-bottom: 36px;
        background: #1f1f1f;
        padding: 11px 1.35rem;
        border-radius: 3px;
        font-family: $system-font;
        border: 1px solid #444444;
        color: #e0e0e0;
        margin-top: 1.35rem;
        max-width: fit-content;
        max-width: -moz-fit-content;
    
            &:hover {
                border-color: #888888;
                cursor: pointer;
                background: #2a2a2a;
            }
        
    }
}