---
title: About - Eleventy Photo Gallery
meta_desc: Jelaludo's photography on a simple old school site. Mostly Canon R6, 50mm 1.4, Macro 100mm 2.8,　70-200mm 2.8.
url: https://eleventy-gallery.netlify.app/about
img: /images/terrace-window.jpg
alt: Terrace outside shop window with green plants and pink tree on night street
eleventyNavigation:
  key: About
  order: 2
heading: About
permalink: "/about/"
layout: main.njk
---

<div class="about-me-content">
  <h1>{{ heading }}</h1>
  <p>Hi, 50mm is my happy place.  I'm {{ site.author.firstName }} {{ site.author.lastName}}.  Photography enthusiast. This static website acts as a compendium of images I've taken over the years.  Github template + Cloudfare hosting.</p>
  <p>Born in Europe, 30 years in Japan.  Camera Enthusiast (Canon R6, 50mm 1.4, 70-200mm 2.8, 100mm 2.8). Martial arts enthusiast (BJJ Coach at Strapple and Carpe Diem), Bike enthusiast (Ducati Monster 696).</p>
  <p>You can find me around the web at the following places:</p>

  <ul class="about-socials">
    {% for key, value in site.socials %}
      <li><a href="{{ value }}">{{ key | title }}</a></li>
    {% endfor %}
  </ul>

  <h2 id="contact-me">Contact</h2>
  <p>Reach out if you think my work aligns with your projects needs.</p>
  
  <form class="contact-form" onsubmit="sendMail()">
      <label for="name">What's Your Name?</label>
      <input type="text" name="name" id="name" required>
      <label class="form-label" for="subject">Subject</label>
      <input class="email-subject" type="text" name="subject" id="subject" required>
      <label class="form-label" for="message">Message</label>
      <textarea class="email-msg" rows="5" cols="30" name="message" id="message" required></textarea>
      <button type="submit" class="reach-me button submit-contact">Message me</button>
  </form>
</div>