---
title: Jelaludo's Photo Gallery
eleventyNavigation:
  key: Gallery
  order: 2
layout: main.njk
permalink: "/gallery/"
meta_desc: A collection of images from Jelaludo's gallery.
url: https://eleventy-gallery.netlify.app/gallery
img: /images/terrace-window.jpg
alt: Terrace outside shop window with green plants and pink tree on night street
cardType: summary_large_image
---

<section class="gallery-intro">
  <h1>{{ title }}</h1>
  <p>{{ meta_desc }}</p>
</section>

{% include "partials/feature-gallery.njk" %}