---
eleventyNavigation:
  key: Home
  order: 0
heading: Photo Gallery
description: A collection of recent images. Stock photos currently provided from Pexels. Add or remove images from the grid and customize your own image gallery!
layout: splash.njk
hideNav: true
title: Eleventy Photo Gallery Template
meta_desc: A photo gallery template with stock photos provided from Pexels. Add or remove images from the grid and customize your own image gallery!
url: https://eleventy-gallery.netlify.app
img: /images/terrace-window.jpg
alt: Terrace outside shop window with green plants and pink tree on night street
cardType: summary_large_image
---

{% include "partials/home-gallery.njk" %}