---
layout: base.njk
---

<main id="main" class="splash-layout">
    {{ content | safe }}
</main>

<script src="/js/home-gallery-randomize.js"></script>
<script type="module" src="/js/splash-hero.js"></script>

